# --- Dependencies ---
node_modules
.pnp
.pnp.js

# --- Local Environment & Secrets ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# --- Turborepo ---
.turbo

# --- Build Outputs (Web & Server) ---
dist
build
out
.next
.vercel
coverage

# --- Mobile: Expo & React Native ---
.expo/
web-build/
*.jks
*.p12
*.key
*.mobileprovision

# Native Builds
android/app/build
android/.gradle
ios/Pods/
ios/build/
ios/*.xcworkspace

# Binaries
*.apk
*.aab
*.ipa

# --- IDE & OS Files ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# --- Docker & Database ---
postgres-data/
db_data/

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*