name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sync:
    uses: Matyslgr/.github/.github/workflows/mirror.yaml@main

    with:
      mirror_url: ${{ vars.MIRROR_URL }}
    secrets: inherit
